<%= form_with(model: checking_statement, local: true) do |form| %>
  <% if checking_statement.errors.any? %>
    <div id="error_explanation" class="callout alert">
      <h5><%= pluralize(checking_statement.errors.count, "error") %> prohibited this checking_statement from being saved:</h5>

      <ul>
      <% checking_statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :checking_account_id %>
    <%= form.collection_select :checking_account_id, @checking_accounts, :id, :number, {include_blank: true}, id: :checking_account_checking_account_id %>
  </div>

  <div class="field">
    <%= form.label :is_debit %>
    <%= form.check_box :is_debit, id: :checking_statement_is_debit %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :checking_statement_amount %>
  </div>

  <div class="field">
    <%= form.label :statement_type %>
    <%= form.select :statement_type, CheckingStatement::STATEMENT_TYPES.map {|bt| [bt.to_s.humanize, bt.to_s]}, {include_blank: true}, id: :checking_statement_statement_type %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note, id: :checking_statement_note %>
  </div>

  <div class="actions">
    <%= form.submit class: "button expanded" %>
  </div>
<% end %>
