<%= form_with(model: share_statement, local: true) do |form| %>
  <% if share_statement.errors.any? %>
    <div id="error_explanation" class="callout alert">
      <h2><%= pluralize(share_statement.errors.count, "error") %> prohibited this share_statement from being saved:</h2>

      <ul>
      <% share_statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :share_account_id %>
    <%= form.collection_select :share_account_id, @share_accounts, :id, :number, {include_blank: true}, id: :share_statement_share_account_id %>
  </div>

  <div class="field">
    <%= form.label :is_debit %>
    <%= form.check_box :is_debit, id: :share_statement_is_debit %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :share_statement_amount %>
  </div>

  <div class="field">
    <%= form.label :balance_type %>
    <%= form.select :balance_type, ShareStatement::BALANCE_TYPES.map {|bt| [bt.to_s.humanize, bt.to_s]}, {include_blank: true}, id: :share_statement_balance_type %>
  </div>

  <div class="field">
    <%= form.label :statement_type %>
    <%= form.select :statement_type, ShareStatement::STATEMENT_TYPES.map {|bt| [bt.to_s.humanize, bt.to_s]}, {include_blank: true}, id: :share_statement_statement_type %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note, id: :share_statement_note %>
  </div>

  <div class="actions">
    <%= form.submit class: "button expanded" %>
  </div>
<% end %>
