<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-3 medium-6 large-offset-4 large-4">

    <h3>Share Statement</h3>

    <br/>

    <div class="callout">
      <p>
      <strong>Share Account:</strong>
      <%= @share_statement.share_account.number %>
      </p>

      <p>
      <strong>Is Debit:</strong>
      <%= @share_statement.is_debit.to_s.humanize %>
      </p>

      <p>
      <strong>Amount:</strong>
      <%= @share_statement.amount %>
      </p>

      <p>
      <strong>Balance Type:</strong>
      <%= @share_statement.balance_type.to_s.humanize %>
      </p>

      <p>
      <strong>Statement Type:</strong>
      <%= @share_statement.statement_type.to_s.humanize.capitalize %>
      </p>

      <p>
      <strong>Note:</strong>
      <%= @share_statement.note %>
      </p>
    </div>

    <div class="button-group">
      <%= link_to '<< Back', share_statements_path, class: "button secondary" %>
      <%= link_to 'Edit', edit_share_statement_path(@share_statement), class: "button warning" %>
    </div>

  </div>
</div>
