<h3>Credit Unions</h3>

<br>

<table class="hover">
  <thead>
    <tr>
      <th>Full Name</th>
      <th width="200">Short Name</th>
      <th width="200">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @credit_unions.each do |credit_union| %>
      <tr>
        <td><%= credit_union.full_name %></td>
        <td><%= credit_union.short_name %></td>
        <td>
          <div class="button-group">
            <%= link_to 'Show', credit_union, class: "button" %>
            <%= link_to 'Edit', edit_credit_union_path(credit_union), class: "button warning" %>
            <%= link_to 'Delete', credit_union, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit Union', new_credit_union_path, class: "button secondary" %>
