<h1>Credit Unions</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Short name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_unions.each do |credit_union| %>
      <tr>
        <td><%= credit_union.full_name %></td>
        <td><%= credit_union.short_name %></td>
        <td><%= link_to 'Show', credit_union %></td>
        <td><%= link_to 'Edit', edit_credit_union_path(credit_union) %></td>
        <td><%= link_to 'Destroy', credit_union, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit Union', new_credit_union_path %>
