<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-1 medium-10 large-offset-2 large-8">

    <h3>Users</h3>

    <br>

    <table class="hover">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Email</th>
          <th width="100">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.username%></td>
            <td><%= user.email %></td>
            <td>
              <div class="button-group">
                <%= link_to 'Show', user, class: "button" %>
                <%= link_to 'Edit', edit_user_path(user), class: "button warning" %>
                <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New User', new_user_path, class: "button secondary" %>
  </div>
</div>
