<h3>User</h3>

<br>

<div class="callout">
  <p>
    <strong>User ID:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= @user.roles.map(&:to_s).map(&:humanize).join(" | ") %>
  </p>
</div>

<div class="button-group">
  <%= link_to '<< Back', users_path, class: "button secondary" %>
  <%= link_to 'Edit', edit_user_path(@user), class: "button warning" %>
</div>
