<%= form_with(model: saving_account, local: true) do |form| %>
  <% if saving_account.errors.any? %>
    <div id="error_explanation" class="callout alert">
      <h5><%= pluralize(saving_account.errors.count, "error") %> prohibited this saving_account from being saved:</h5>

      <ul>
      <% saving_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :saving_account_number %>
  </div>

  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.text_field :interest_rate, id: :saving_account_interest_rate %>
  </div>

  <div class="field">
    <%= form.label :saving_product_id %>
    <%= form.collection_select :saving_product_id, @saving_products, :id, :short_name, {include_blank: true}, id: :saving_account_saving_product_id %>
  </div>

  <div class="field">
    <%= form.label :member_id %>
    <%= form.collection_select :member_id, @members, :id, :first_name, {include_blank: true}, id: :saving_account_member_id %>
  </div>

  <div class="actions">
    <%= form.submit class: "button expanded" %>
  </div>
<% end %>
