<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-1 medium-10 large-offset-2 large-8">

    <h3>Saving Accounts</h3>

    <br/>

    <table class="hover">
      <thead>
        <tr>
          <th width=100>Number</th>
          <th width=150>Interest rate</th>
          <th width=150>Saving product</th>
          <th width=150>Member</th>
          <th width=100></th>
        </tr>
      </thead>

      <tbody>
        <% @saving_accounts.each do |saving_account| %>
          <tr>
            <td><%= saving_account.number %></td>
            <td><%= saving_account.interest_rate %></td>
            <td><%= saving_account.saving_product.short_name %></td>
            <td><%= saving_account.member.first_name %></td>
            <td>
              <div class="button-group">
                <%= link_to 'Show', saving_account, class: "button" %>
                <%= link_to 'Edit', edit_saving_account_path(saving_account), class: "button warning" %>
                <%= link_to 'Destroy', saving_account, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Saving Account', new_saving_account_path, class: "button secondary" %>

  </div>
</div>
