<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-1 medium-10 large-offset-2 large-8">

    <h3>Saving Products</h3>

    <br/>

    <table class="hover">
      <thead>
        <tr>
          <th width="300">Full Name</th>
          <th width="150">Short Name</th>
          <th width="150">Interest Rate</th>
          <th width="150">Credit Union</th>
          <th width="100"></th>
        </tr>
      </thead>

      <tbody>
        <% @saving_products.each do |saving_product| %>
          <tr>
            <td><%= saving_product.full_name %></td>
            <td><%= saving_product.short_name %></td>
            <td><%= saving_product.interest_rate %></td>
            <td><%= saving_product.credit_union.short_name %></td>
            <td>
              <div class="button-group">
                <%= link_to 'Show', saving_product, class: "button" %>
                <%= link_to 'Edit', edit_saving_product_path(saving_product), class: "button warning" %>
                <%= link_to 'Destroy', saving_product, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br/>

    <%= link_to 'New Saving Product', new_saving_product_path, class: "button secondary" %>

  </div>
</div>
