<h3>Saving Product</h3>

<br/>

<div class="callout">

  <p>
    <strong>Full Name:</strong>
    <%= @saving_product.full_name %>
  </p>

  <p>
    <strong>Short Name:</strong>
    <%= @saving_product.short_name %>
  </p>

  <p>
    <strong>Interest Rate:</strong>
    <%= @saving_product.interest_rate %>
  </p>

  <p>
    <strong>Credit Union:</strong>
    <%= @saving_product.credit_union.short_name %>
  </p>

</div>

<div class="button-group">
  <%= link_to '<< Back', saving_products_path, class: "button secondary" %>
  <%= link_to 'Edit', edit_saving_product_path(@saving_product), class: "button warning" %>
</div>
