<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">CUIS</li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Credit Unions", credit_unions_path %>
          <ul class="menu vertical">
            <li>
              <%= link_to "New Credit Union", new_credit_union_path %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to "Branches", branches_path %>
          <ul class="menu vertical">
            <li>
              <%= link_to "New Branch", new_branch_path %>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Members</a>
        </li>
        <li><a href="#">Savings</a></li>
        <li><a href="#">Checkings</a></li>
        <li><a href="#">Deposits</a></li>
        <li><a href="#">Loans</a></li>
      <% end %>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if user_signed_in? %>
        <li>
          <a href="#"><%= current_user.username %></a>
          <ul class="menu vertical">
            <li>
              <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to('Sign in', new_user_session_path)  %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
