<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "CUIS" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div>
      <%= render "layouts/navigation" %>
    </div>

    <div class="row">
      <div class="columns">
        <% flash.each do |key, value| %>
          <%= content_tag :div, class: foundation_flash_class(key), :data => { :closable => '' } do %>
            <button class="close-button" aria-label="Close alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
            <%= content_tag :p, value %>
          <% end -%>
        <% end %>
      </div>
    </div>

    <div>
      <br>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
