<h3>Member</h3>

<br/>

<div class="callout">

  <p>
    <strong>First name:</strong>
    <%= @member.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @member.last_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= @member.birth_date %>
  </p>

  <p>
    <strong>Birth place:</strong>
    <%= @member.birth_place %>
  </p>

  <p>
    <strong>Credit union:</strong>
    <%= @member.credit_union.short_name %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= @member.branch.short_name %>
  </p>

</div>

<div class="button-group">
  <%= link_to '<< Back', members_path, class: "button secondary" %>
  <%= link_to 'Edit', edit_member_path(@member), class: "button warning" %>
</div>
