<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation" class="callout alert">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code, id: :account_code %>
  </div>

  <div class="field">
    <%= form.label :type_mask %>
    <%= form.number_field :type_mask, id: :account_type_mask %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :account_full_name %>
  </div>

  <div class="field">
    <%= form.label :short_name %>
    <%= form.text_field :short_name, id: :account_short_name %>
  </div>

  <div class="field">
    <%= form.label :balance %>
    <%= form.text_field :balance, id: :account_balance %>
  </div>

  <div class="field">
    <%= form.label :is_positive %>
    <%= form.check_box :is_positive, id: :account_is_positive %>
  </div>

  <div class="actions">
    <%= form.submit class: "button expanded" %>
  </div>
<% end %>
