<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation" class="callout alert">
      <h5><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h5>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code, id: :account_code %>
  </div>

  <div class="field">
    <%= form.label :account_type %>
    <%= form.select :account_type, Account::TYPES.map {|t| [t.to_s.humanize, t.to_s]}, {include_blank: true}, id: :account_account_type %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :account_full_name %>
  </div>

  <div class="field">
    <%= form.label :short_name %>
    <%= form.text_field :short_name, id: :account_short_name %>
  </div>

  <div class="actions">
    <%= form.submit class: "button expanded" %>
  </div>
<% end %>
